/*
    Syntax for CSS
    selector {
        property: value;
    }
*/
/*universal selector*/
*{
    font-family: "Roboto"; sans-serif;
}

h1, p {
    font-family: "Montserrat"; sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
    
/* id selector */
#profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;

    align-items: center; 
    /*padding - space between your element and border*/
    padding: 10px;
}

/* class selector */
.fa-linkedin, .fa-square-facebook {
    font-size: 25px;
    color: white;
    margin: 0 10px 0 10px;
}

.fa-linkedin:hover, .fa-square-facebook:hover {
    color: beige;
} 

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}